<div class="">
    <h2>Registro de Clientes</h2>
    <br>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
        <div class="form-row">
            <div class="col-md-6">
                <div class="box-body">
                    <div class="form-group">
                        <label>Identificacion:</label>
                    </div>
                    <div class="form-group">
                        <input placeholder="Digite Identificacion" type="text" formControlName="identificacion" class="form-control" [ngClass]="{ 'is-invalid':  f.identificacion.errors }">
                        <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback">
                            <div *ngIf="f.identificacion.errors.required">Identificacion Requerida</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombres:</label>
                    </div>
                    <div class="form-group">
                        <input placeholder="Digite el o los Nombres" type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid':  f.nombre.errors }">
                        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">El nombre del cliente es necesario</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-body">
                    <div class="form-group">
                        <label>Email:</label>
                    </div>
                    <div class="form-group">
                        <input placeholder="Digite Email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid':  f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">El email del cliente es necesario</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefono:</label>
                    </div>
                    <div class="form-group">
                        <input placeholder="Digite el telefono" class="form-control" formControlName="telefono" [ngClass]="{ 'is-invalid':  f.telefono.errors }">
                        <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                            <div *ngIf="f.telefono.errors.required">Telefono del paciente requerido</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1">Registrar</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancelar</button>
        </div>
    </form>
</div>
